
:root{
   --primaryColor: #a30707;
    --secondaryColor: #f7bcf7;
    --lightColor:#ffffff;
    --bgColor-1: #d6d09d;
    --bgColor-2: rgb(48, 26, 26);
    --padding: 1.5%;
    scroll-behavior: smooth;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Almarai', sans-serif;
     font-size: 16px;
     color: var(--lightColor);
}
.home{
    width:100%;
    height: 100vh;
 background-color: var(--bgColor-1 );

}
.home nav{
    background-color:var(--bgColor-2);
    width: 100%;
}
span{
    color: var(--primaryColor);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-top: 2.2rem;
    padding-left:var(--padding);
    padding-right:var(--padding);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
nav ul li{
    list-style-type: none;
    display:inline-block;
    margin: 0.8rem 1.5rem;
    
}
nav ul li a{
    color:var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color:var(--primaryColor);
}
.btn{
    background-color:var(--primaryColor);
    color:var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.78rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s ;
}
.btn:hover{
    background-color:transparent;
    border: 2px solid var(--primaryColor);
}
.content{
    flex-grow:1;
    padding:var(--padding);
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.contener-text{
    position: relative;
    bottom: 70px;
}



 h1{ font-size: 4.65rem;
    margin: 1.7rem  0;

}
 h3{
    font-size: 1.5rem;
}

 h2{
    font-size: 1.5rem;
    letter-spacing: 0.12rem;
}
 h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color:var(--primaryColor);
    padding-top: 5.25rem;
}
.download{
    padding-top: 30px;
}
.social{
    margin-top: 3.5rem;
    
}
.social img{
    margin-right:2rem;
    width: 2rem;
    transition: 0.4s;

}

.social img:hover{
    transform: scale(1.2);

}
.contener-images{
    width: 70%;
    height: 120%;
}

.home.contener-images{
    width: 20%;
    height: 50%;
    position: relative;
    width: 21.21em;

    align-self: flex-end;

}

.home.contener-images img{
    position: absolute;
    bottom: 10%;
    height: 10%;
    left: 20%;
    transform: translate(-30%);
}


.about{
    width: 100%;
    background-color:var(--bgColor-2);
    padding: 3.2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.about.contener-image{
    width: 100%;
    
}
.about.contener-image img{
    width: 90%;
}
.about.contener-text{
    width: 35%;
    padding: 50%;
}
.Services{
    background-color: rgb(38, 43, 112);
    padding: 6rem;
    

}
.text-center{
    text-align: center;
    padding: 2rem;
}
.progect-card{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    width: 21.21em;
    box-shadow: 0 5px  25px  rgba(1 1 1/100%);
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{    transform: scale(1.1);

}
.icon {
    color: #601cfc;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
color: #000;
font-size: 1.2em;
font-weight: 700;
margin: 10px;
}
.progects{
    background-color: #000016;
}
.Services .title{
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50px;
    
}
.content{
flex-direction: row;
}

.progect-card{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid  #fff;
    min-height: 10em;
    width: 21em;
    overflow: hidden;
    border-radius: 10px;
    margin: 8px;
    transition: 0.7s ease;

}
.progect-card:hover{
    transform: scale(1.1);
}
.progect-card:hover .progects-image{opacity: 0.2;
}

.progect-image img{
    width: 100%;

}
.progect-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.progect-info{
    padding: 1em;
}
.progect-categoy{
    font: size 0.8em; 
    color: #000;
}
.progect-title {
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.details{
    text-decoration: none;
    color: #601cfc; 
}

.Skils{
    background-color: #000016;
}
.skils.title{
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50px;
    
}

.footer{
    background-color: #4c4545;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: blueviolet;
}


.footer .social a{
    font-size: 0.3em;
    padding: 0 12px 0 0;
}

@media ( max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    .section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
    @media ( max-width:641px){
          body{ 
            font-size: 12px;
        }
        
        .main-content h2{
            font-size: 0.8em;
        }
        .main-content h3{
            font-size: 1.4em;
        }
    }    
        @media ( max-width:300px){
            body{ 
              font-size: 10px;
          }
          
          .main-content h2{
              font-size: 0.3em;
          }
          .main-content h3{
              font-size: 1em;
          }
        }